<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard | Web-OS</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css.map" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.css.map" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/dashboard.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body class="co">
    <!--Navbar-->
    <nav class="navbar navbar-inverse navtop navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="pad-nav-b">
        <a class="navbar-brand" href="#">
          BOSS / Dashboard
        </a>
        </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Running on port: <%=port%></a></li>
      </ul>
      <!--<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->
      <ul class="nav navbar-nav navbar-right pad-nav-s">
        <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="name-nav">Welcome,   <%=user%> <!--<img id="profile-img" src=<%=imgprofile%> alt="" />--> <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="/dashboard/account/profile" class="list"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
         <li><a href="/dashboard/account/settings" class="list"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
         <li><a href="/dashboard/repos" class="list"><span class="glyphicon glyphicon-file"></span> My Repos</a></li>
         <li><a href="/dashboard/console" class="list"><span class="glyphicon glyphicon-console"></span> Console</a></li>
         <li role="separator" class="divider"></li>
         <li><a href="/docs/home" class="list">Help</a></li>
         <li><a href="/about" class="list">Release Notes</a></li>
         <li role="separator" class="divider"></li>
         <li><a href="/about" class="list">About...</a></li>
       </ul>
     </li>
        <li><a href="#">Signout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="showcase">
  <h1>Welcome back, <%=user%></h1>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item"><h4 id="req">TODO: x requests today</h4></div>
        <div class="item"><h4 id="wrun">Been running for <%=time%> minutes</h4></div>
        <div class="item"><h4 id="weba">TODO: x web-apps running</h4></div>
    </div>
    <!--<ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>-->
    <!-- Carousel nav
    <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>-->
</div>

  <!-- Controls
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>-->
  <!-- Indicators
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>-->
</div>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Hamburger menu script for hamburger -->
    <script src="/js/hamburger.js"></script>
    <script src="/notie/notie.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        //notie.alert(1, 'Success!', 1.5);
        $('.carousel').carousel();
      });
      var socket = io.connect();
      socket.on('request', function(req){
        document.getElementById("req").innerHTML = req+" requests today";
      });
      socket.on('runtime', function(req){
        document.getElementById("wrun").innerHTML = "Been running for "+req+' minutes';
      });
    </script>
  </body>
</html>
